*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.carousel-container{
  width:60%;
  margin:0 auto;
  border:2px solid #000;
  
}

.carousel-slide{
  position:relative;

}

.carousel-wrap{
   float:left;
}

.carousel-slide img{
  width:100%;
 
}

/* .carousel-slide img:not(:first-child):not(:last-child){
  margin-right:5%;
  margin-left:5%;
} */

