*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  padding: 0;
  margin: 0;
}

/* .slick{
  display: flex;
} */

.wrap{
  object-fit: fill;
  max-height: 300px;
  
}

#slideshow .slick{
  margin: auto;
  width:80%;
}

#slideshow img{
  width:100%;
  height: auto;
}

/* .slick-prev {
  left: 100px;
  background: red; 
}
.slick-next {
  right: 100px;
  background: red; 
} */

