*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}


html,body{
  padding: 0;
  margin: 0;

}

.arrow-wrapper{
  display: flex;
  justify-content: center;
}

.arrow-wrapper i{
  padding: 5px 40px;
  cursor: pointer;
}


.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  width:100%;
}


.slick{
  width:100%;
  margin: 0 auto;
  /* object-fit: none;
  object-position: 0 0; */
}


.slick-slide{
  float: left;
}

.wrap{
  width:100%;
  object-fit: cover;
  min-height: 200px;
}

.wrap img{
  width: 100%;
}

section{
  width: 100%;
  height: 300px;
  background:#c1c1c1;
}

